/* Lumen Design System — Spacing, sizing, radius & border tokens */
:root {
  --lumen-scale-0: 0px;
  --lumen-scale-1: 1px;
  --lumen-scale-2: 2px;
  --lumen-scale-4: 4px;
  --lumen-scale-6: 6px;
  --lumen-scale-8: 8px;
  --lumen-scale-10: 10px;
  --lumen-scale-12: 12px;
  --lumen-scale-14: 14px;
  --lumen-scale-16: 16px;
  --lumen-scale-18: 18px;
  --lumen-scale-20: 20px;
  --lumen-scale-24: 24px;
  --lumen-scale-28: 28px;
  --lumen-scale-32: 32px;
  --lumen-scale-40: 40px;
  --lumen-scale-48: 48px;
  --lumen-scale-56: 56px;
  --lumen-scale-64: 64px;
  --lumen-scale-68: 68px;
  --lumen-scale-80: 80px;
  --lumen-scale-96: 96px;
  --lumen-scale-120: 120px;
  --lumen-scale-1-25: 1.25px;
  --lumen-scale-1-5: 1.5px;
  --lumen-scale-full: 9999px;
  --lumen-padding-10: var(--lumen-scale-10);
  --lumen-padding-2: var(--lumen-scale-2);
  --lumen-padding-8: var(--lumen-scale-8);
  --lumen-padding-4: var(--lumen-scale-4);
  --lumen-padding-6: var(--lumen-scale-6);
  --lumen-padding-12: var(--lumen-scale-12);
  --lumen-padding-14: var(--lumen-scale-14);
  --lumen-padding-16: var(--lumen-scale-16);
  --lumen-padding-24: var(--lumen-scale-24);
  --lumen-padding-32: var(--lumen-scale-32);
  --lumen-padding-40: var(--lumen-scale-40);
  --lumen-padding-20: var(--lumen-scale-20);
  --lumen-button-button-padding: var(--lumen-padding-10);
  --lumen-button-button-spacing: var(--lumen-spacing-6);
  --lumen-button-button-font-size: var(--lumen-font-size-body-sm);
  --lumen-button-button-font-line-height: var(--lumen-font-line-height-body-sm);
  --lumen-button-button-icon-size: var(--lumen-width-12);
  --lumen-button-button-icon-weight: var(--lumen-border-width-xs);
  --lumen-button-button-text-min-width: var(--lumen-width-12);
  --lumen-spacing-6: var(--lumen-scale-6);
  --lumen-spacing-4: var(--lumen-scale-4);
  --lumen-spacing-10: var(--lumen-scale-10);
  --lumen-spacing-2: var(--lumen-scale-2);
  --lumen-spacing-8: var(--lumen-scale-8);
  --lumen-spacing-12: var(--lumen-scale-12);
  --lumen-spacing-14: var(--lumen-scale-14);
  --lumen-spacing-16: var(--lumen-scale-16);
  --lumen-spacing-24: var(--lumen-scale-24);
  --lumen-spacing-32: var(--lumen-scale-32);
  --lumen-width-12: var(--lumen-scale-12);
  --lumen-width-32: var(--lumen-scale-32);
  --lumen-width-16: var(--lumen-scale-16);
  --lumen-width-4: var(--lumen-scale-4);
  --lumen-width-8: var(--lumen-scale-8);
  --lumen-width-14: var(--lumen-scale-14);
  --lumen-width-20: var(--lumen-scale-20);
  --lumen-width-24: var(--lumen-scale-24);
  --lumen-width-28: var(--lumen-scale-28);
  --lumen-width-40: var(--lumen-scale-40);
  --lumen-width-48: var(--lumen-scale-48);
  --lumen-width-56: var(--lumen-scale-56);
  --lumen-width-64: var(--lumen-scale-64);
  --lumen-border-width-xs: var(--lumen-scale-1);
  --lumen-border-width-none: var(--lumen-scale-0);
  --lumen-border-width-sm: var(--lumen-scale-1-25);
  --lumen-border-width-md: var(--lumen-scale-1-5);
  --lumen-border-width-lg: var(--lumen-scale-2);
  --lumen-border-width-xlg: var(--lumen-scale-4);
  --lumen-border-radius-6: var(--lumen-scale-6);
  --lumen-border-radius-12: var(--lumen-scale-12);
  --lumen-border-radius-full: var(--lumen-scale-full);
  --lumen-border-radius-none: var(--lumen-scale-0);
  --lumen-border-radius-2: var(--lumen-scale-2);
  --lumen-border-radius-4: var(--lumen-scale-4);
  --lumen-border-radius-8: var(--lumen-scale-8);
  --lumen-border-radius-14: var(--lumen-scale-14);
  --lumen-border-radius-16: var(--lumen-scale-16);
  --lumen-border-radius-18: var(--lumen-scale-18);
  --lumen-border-radius-20: var(--lumen-scale-20);
  --lumen-border-radius-24: var(--lumen-scale-24);
  --lumen-border-radius-32: var(--lumen-scale-32);
  --lumen-border-radius-10: var(--lumen-scale-10);
  --lumen-input-input-vertical-padding: var(--lumen-padding-10);
  --lumen-input-input-horizontal-padding: var(--lumen-padding-8);
  --lumen-input-input-spacing: var(--lumen-spacing-10);
  --lumen-input-input-font-size: var(--lumen-font-size-body-sm);
  --lumen-input-input-font-line-height: var(--lumen-font-line-height-body-sm);
  --lumen-input-input-icon-size: var(--lumen-width-12);
  --lumen-input-input-icon-weight: var(--lumen-border-width-xs);
  --lumen-input-input-max-height: var(--lumen-height-32);
  --lumen-input-input-area-min-height: var(--lumen-height-48);
  --lumen-input-input-slot-input-slot-spacing: var(--lumen-spacing-4);
  --lumen-tag-tag-margin-vertical: var(--lumen-padding-2);
  --lumen-tag-tag-margin-horizontal: var(--lumen-padding-2);
  --lumen-tag-tag-spacing: var(--lumen-spacing-4);
  --lumen-tag-tag-icon-size: var(--lumen-scale-12);
  --lumen-tag-tag-icon-weight: var(--lumen-scale-1);
  --lumen-tag-tag-border-radius: var(--lumen-border-radius-6);
  --lumen-tag-tag-texte-size: var(--lumen-scale-16);
  --lumen-height-32: var(--lumen-scale-32);
  --lumen-height-48: var(--lumen-scale-48);
  --lumen-height-2: var(--lumen-scale-2);
  --lumen-height-4: var(--lumen-scale-4);
  --lumen-height-8: var(--lumen-scale-8);
  --lumen-height-16: var(--lumen-scale-16);
  --lumen-height-20: var(--lumen-scale-20);
  --lumen-height-24: var(--lumen-scale-24);
  --lumen-height-28: var(--lumen-scale-28);
  --lumen-height-40: var(--lumen-scale-40);
  --lumen-height-56: var(--lumen-scale-56);
  --lumen-height-64: var(--lumen-scale-64);
  --lumen-height-80: var(--lumen-scale-80);
  --lumen-height-12: var(--lumen-scale-12);
  --lumen-height-14: var(--lumen-scale-14);
  --lumen-badge-badge-padding-horizontal: var(--lumen-padding-4);
  --lumen-badge-badge-height: var(--lumen-width-16);
  --lumen-badge-badge-border-radius: var(--lumen-border-radius-full);
  --lumen-badge-badge-icon-size: var(--lumen-scale-12);
  --lumen-badge-badge-dot-size: var(--lumen-width-4);
  --lumen-squircle-squircle-width: var(--lumen-width-32);
  --lumen-squircle-squircle-border-radius: var(--lumen-border-radius-12);
  --lumen-squircle-squircle-icon-weight: var(--lumen-border-width-xs);
  --lumen-squircle-squircle-txt-font-size: var(--lumen-font-size-body-sm);
  --lumen-squircle-squircle-txt-font-line-height: var(--lumen-font-line-height-body-sm);
  --lumen-squircle-squircle-icon: var(--lumen-scale-14);
  --lumen-progress-progress-height: var(--lumen-height-2);
  --lumen-progress-progress-radius: var(--lumen-border-radius-full);
  --lumen-progress-progress-spacing: var(--lumen-spacing-2);
  --lumen-shadow-spread-spread-0: var(--lumen-scale-0);
  --lumen-shadow-x-offset-x-0: var(--lumen-scale-0);
  --lumen-shadow-x-offset-x-2: var(--lumen-scale-2);
  --lumen-shadow-x-offset-x-4: var(--lumen-scale-4);
  --lumen-shadow-x-offset-x-6: var(--lumen-scale-6);
  --lumen-shadow-x-offset-x-12: var(--lumen-scale-12);
  --lumen-shadow-x-offset-x-16: var(--lumen-scale-16);
  --lumen-shadow-y-offset-y-0: var(--lumen-scale-0);
  --lumen-shadow-y-offset-y-2: var(--lumen-scale-2);
  --lumen-shadow-y-offset-y-4: var(--lumen-scale-4);
  --lumen-shadow-y-offset-y-6: var(--lumen-scale-6);
  --lumen-shadow-y-offset-y-12: var(--lumen-scale-12);
  --lumen-shadow-y-offset-y-16: var(--lumen-scale-16);
  --lumen-shadow-blur-b-0: var(--lumen-scale-0);
  --lumen-shadow-blur-b-8: var(--lumen-scale-8);
  --lumen-shadow-blur-b-12: var(--lumen-scale-12);
  --lumen-shadow-blur-b-16: var(--lumen-scale-16);
  --lumen-shadow-blur-b-20: var(--lumen-scale-20);
  --lumen-shadow-blur-b-32: var(--lumen-scale-32);
}
